@charset "UTF-8";

body {
	word-wrap: break-word;
	font-family: "Roboto", "Segoe UI", "Noto Sans JP", "Yu Gothic UI", "Yu Gothic", "Meiryo", sans-serif;
}
h2, h3, h4 {
	padding-top: 1em;
	border-bottom: 2px solid #48F;
}
h4 {
	margin-left: 1em;
}
#contents_menu h2 { 
	margin-top: 0;
	padding-top: 0;
	border-bottom: none;
}
img{
	max-width:100%;
}
pre {
	padding:4px;
	line-height: 130%;
	white-space: pre-wrap ;
}
dt {
	line-height: 130%;
	font-weight: bold;
	margin-top: 1em;
}
dd {
	line-height: 130%;
}
ol li{
	margin-top: 1em;
	line-height: 130%;
}
ol li ol li {
	margin-top: 4px;
	line-height: 130%;
}
ul li{
	margin-top: 1em;
	line-height: 130%;
}
ul li ul li {
	margin-top: 4px;
	line-height: 130%;
}

small {
	line-height: 110%;
}

a {
	word-break: break-all;
}

.downloadContents {
	margin:8px;
	padding-left:2em;
}

.tablediv {
	overflow: auto;
}
.tablediv table {
	width: 100%;
}

@media screen and (min-width: 481px) {
#contents_menu {
	float: left;
}
}
@media screen and (max-width: 720px) {
.tablediv {
	font-size: 14px;
}
}
@media screen and (max-width: 640px) {
.tablediv {
	font-size: 12px;
}
}
@media screen and (max-width: 480px) {
.tablediv {
	font-size: 10px;
}
}